<template>
  <div class="flex flex-col">
    <label class="font-medium" for="Creditcard">Creditcard</label>
    <div class="relative ">
      <input
        minlength="16"
        maxlength="20"
        :class="{ valid: isValid, invalid: isInvalid }"
        class="rounded-md border mt-1 shadow-sm p-2 w-full focus:outline-none"
        placeholder="1111 2222 3333 4444"
        :value="value"
        v-on:input="$emit('input', $event.target.value)"
        type="text"
      />
      <XIcon
        v-if="!isValid && isInvalid"
        class="absolute w-4 h-4 right-3 top-3 text-red-500 mt-0.5"
      />
      <CheckIcon
        v-if="isValid && !isInvalid"
        class="absolute w-4 h-4 right-3 top-3 text-green-500 mt-0.5"
      />
    </div>
    <img
      class="w-12 h-auto"
      v-for="provider in providers"
      :src="require(`~/assets/${provider}.png`)"
    />
  </div>
</template>

<script>
import {
  isCreditcardNumberValid,
  creditcardProviders
} from "../helpers/helpers.js";
export default {
  props: {
    value: {
      default: null,
      type: String
    }
  },
  computed: {
    isValid: function() {
      return isCreditcardNumberValid(this.value);
    },
    isInvalid: function() {
      return !this.isValid && this.value != null && this.value != "";
    },
    providers: function() {
      return creditcardProviders(this.value);
    }
  }
};
</script>

<style>
.valid {
  @apply border-green-500  border-2;
}

.invalid {
  @apply border-red-500 border-2;
}
</style>
