<template>
  <div>
    <h1 class="text-4xl font-bold text-green-400 mb-2">
      Creditcard Validation
    </h1>
    <p class="text-gray-700 mb-8">
      A creditcard validation input component that shows whether a given
      creditcard number is valid or not based on Luhn's Algorithm. Additionally
      includes the provider of the card.
    </p>
    <Creditcard v-model="creditcardNumber" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      creditcardNumber: "4417 1234 5678 9113"
    };
  }
};
</script>

<style></style>
